



background {
    height: 725px;
}


content {
    max-width: 1600px;
}

#content{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.icon{
    width: 80px;
}

.logo{
    width: 80px;
}

#hero-img{
    width: 100%;
}


body {
    background-color: #806464; 
}
header {
    background-color:rgba(156, 104, 108, 0.7);
}

.home-tittle{
    background-color: #e08080;
    color: darkblue;
}

nav a {
    text-align: center;
    text-decoration: solid;
    background-color: #e08080;
    color: crimson;
}
nav a:hover {
    background-color: yellowgreen;
}


nav a:hover {
    background-color: rgb(143, 106, 106);
    color: #000000;
}    


.book :hover{
    background-color: #e08080;
    color: aquamarine;
}

.join :hover{
    background-color: azure;
    color: brown;
}

.book{
    text-align: right;
    text-decoration: none;
    background-color: azure;
    color: rgb(2, 129, 66);
}
        

.join{
    text-align: center;
    text-decoration: none;
    background-color: azure;
    color:rgb(9, 106, 131);
}

#background{
    color: bisque;
}

.msg{
    color:rgb(15, 190, 53)
}

footer{
    background-color: bisque;
    color: darkred;
    font-size: large;
}

footer a {
    text-align: center;
    background-color: bisque;
    color: #e08080;
    text-decoration: none;
}    
                    

footer a:hover {
    background-color: bisque;
    color :mediumvioletred
}    
                    

 
footer p a:hover {
    text-decoration: underline;
}    

h4{
    background-color: bisque;
    color: darkcyan
}

msg p{
    background-color: bisque;
    color: darkred;

}